@import "tailwindcss";

.main-bg-color{
    background-color: #00AA90;
   
}
.disable-color{
    background-color: #F0F0F0;
}
body {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}
button{
  font-family: 'Inter', sans-serif;
  font-weight: 900;
}
.white{
    color: white !important;
}
.background-color{
    background-color: #00AA90;
}
.background-color-rose{
    background-color: #F43F5E;
}

.heading{
 font-family: 'Inter', sans-serif;
 font-weight: 800;
 
}
.green{
    color: #00AA90 !important;
}

.button{
    background-color: #00AA90;
    box-shadow: 0px 4px 0px #086058;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px;
}

.yellow{
    background-color: #FFFAEB;
    border-color: #F59E0B;
}